img.favorite {
  border: 5px solid #C24648;
}
img {

  height: 600px;
}
select {
  width: 100px;
  height: 25px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

#guineaPigsForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}